body{

    overflow-x: hidden;
}
.table-red td,.table-red th,.table-red thead th{border-color:#32383e}

.table .thead-dark th{color:#f8fafc;background-color:#CC2941;border-color:#32383e}

#page-container {
    position: relative;
    min-height: 90vh;
}

#footer {
    padding: 10px 0;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 3.5rem;
    background-color: #CC2941/* Footer height */
}
footer a {
    color: #70726F;
    font-size: 20px;
    padding: 10px;
    border-right: 1px solid #70726F;
    transition: all .5s ease;
}
footer a:first-child {
    border-left: 1px solid #70726F;
}
footer a:hover {
    color: white;
}

.footer-text{
    color: white;
}

select{
    display: none;
}

#dtDashboard_length label{
    display: none;
}

.dataTables_info{
    display: none;
}


.dataTables_paginate paging_two_button{
    display: none;
}

#dtDashboard_paginate{
    display: none;
}